In [1]:
print(10)

10

In [3]:
print('python')

python

In [5]:
print(10,20,30)

10 20 30

In [7]:
print(10,10.5,'Naresh',True)

10 10.5 Naresh True

In [9]:
n1 = 10
n2 =20
print(n1,n2)

10 20

In [11]:
print(10),print(20)
# None : no value

10
20

(None, None)

In [13]:
print(10) print(20)

SyntaxError: invalid syntax (2448868521.py, line 1)

In [15]:
a=100 
b=200
c=a+b
c

300

In [17]:
a=100 
b=200
c=a+b
print("the addition of",a,"and",b,"is",c)

the addition of 100 and 200 is 300

In [19]:
print("the addition of {} and {} is {}".format(a,b,c))

the addition of 100 and 200 is 300

In [21]:
# Read your name 


name= 'jacob'
age =30
city='Hyderabad'

print("My name is {}, i am {} years old. I am from {}".format(name,age,city))

My name is jacob, i am 30 years old. I am from Hyderabad

In [25]:
empName='jacob'
role='Manager'
company='Medsquire'
print("The name of the employee is {},who is the {} in {}".format(empName,role,company))

The name of the employee is jacob,who is the Manager in Medsquire

**F string**

In [27]:
print(f"The name of the employee is {a},who is the {b} in {c}")
# Fstring method

The name of the employee is 100,who is the 200 in 300

In [30]:
print(f"My name is {name}, i am {age} years old. I am from {city}")

My name is jacob, i am 30 years old. I am from Hyderabad

In [32]:
print(f"the addition of {a} and {b} is {c}")

the addition of 100 and 200 is 300